<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: September 29, 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>
        <td><a href="https://forms.gle/17uiCUp2iW28SeJF9" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>9:00</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:30</td>  <td>Introduction to Transcriptomics Principles</td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Introduction to bulk RNA-seq analysis workflow</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>Loading and Exploring Count Data</td>
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day one</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: October 13, 2025</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td>Differential Expression Analysis: Concepts and Setup</td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Normalization and Quality Control</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td> Running Differential Expression Tests </td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td> Visualization of Results</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: October 20, 2025</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Investigating scRNA-seq Data </td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Loading Seurat Objects</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td> Running Differential Expression Tests</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td> Visualization of Results</td> 
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day three</td> 
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: October 27, 2025</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Version Control with Git </td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Introduction to Bash programming Language</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr>
       <td>11:15</td>  <td>Introduction to Git and Version Control</td>
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr>
       <td>12:15</td>  <td>Collaborating in Github</td>
      </tr>
      <tr> 
        <td>1:00</td>  <td>Finish day four</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="https://forms.gle/LHHs8T1ZjMwCVVMBA" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
